// ===== Colors
$text-color: #333;
$themeColor: #ddd;
$secondary-color: #555;
$ternary-color: #ccf962;
$link-color: $ternary-color;
$medu-item-color: black;

// ===== Fonts
$text-font: Verdana, Arial, Helvetica, sans-serif;
$headline-font: "Palatino Linotype", Georgia, serif;

// ===== Size
$header-height: 60px;
$footer-height: 100px;
$content-width: 960px;
