// ===== Imprort
// @import "./partial/variable", "./partial/mixins";
@import "./partial/variable";
@import "./partial/mixins";

// @import url("variable");
// @import "filename.css/scss";
// @import "https://";
// @import "style-screen" screen;

@include google-fonts(Oswalda);
// @include google-fonts(Fira-Sans);

body {
  background: $text-color;
  font-family: $text-font;
}

#header {
  font-family: $text-font;
  #main-menu {
    background: $ternary-color;
  }
}

// #btn-success {
//   @include success(20px, blue);
// }

#btn-success {
  //========== mixin
  @include success($radius: 30px, $color: green);
}

//========== mixin
@include apply-to-ie-6 {
  body {
    font-size: 100px;
    color: black;
    background: blue;
  }
}
