@import "./variable";
@import "./mixins";
//========== mixin

body {
  background: $text-color;
  font-family: $text-font;
}

#header {
  font-family: $text-font;
  #main-menu {
    background: $ternary-color;
  }
}

// #btn-success {
//   @include success(20px, blue);
// }

#btn-success {
  @include success($radius: 30px, $color: green);
}
