@mixin google-fonts($font) {
  $font: unquote($font);
  @import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin rounded($radius) {
  border-radius: $radius;
}

@mixin success($radius, $color) {
  color: $color;
  border: $radius;
}

@mixin apply-to-ie-6 {
  * {
    @content;
  }
}
